body {
    font-family: Arial, sans-serif;
    background: white;
    text-align: left;
}

button {
    padding: 10px 20px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
}